[general]
dnp_file = "FIRST-Do-Not-Play-List-2025.xlsx"
remove_optional = false
remove_explicit = true
make_public = true
enable_log = true
log_file = "cleaner.log"
log_level = "INFO"

[spotipy]
show_dialog = false