{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}FRC-FTC Spotify Playlist Cleaner{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if request.method == "POST" %}
        <div class="row">
            <div class="column">
                <strong>Overall</strong><br>
                <progress id="clean_playlist" max="100" value="0">0%</progress><br>

                <strong>Do Not Play Tracks</strong><br>
                <progress id="dnp_tracks" max="100" value="0">0%</progress><br>

                {% if optional_enabled %}
                    <strong>Optional Do Not Play Tracks</strong><br>
                    <progress id="optional_dnp_tracks" max="100" value="0">0%</progress><br>
                {% endif %}

                <strong>Playlist Tracks</strong><br>
                <progress id="playlist_tracks" max="100" value="0">0%</progress><br>

                <strong>Clean Tracks</strong><br>
                <progress id="clean_tracks" max="100" value="0">0%</progress><br>

                <strong>Create Cleaned Playlist</strong><br>
                <progress id="cleaned_playlist" max="100" value="0">0%</progress>
            </div>
            <div class="column">
                <iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/{{ session.playlist_id }}" width="97%" height="512" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
            </div>
            <div id="clean_playlist_iframe" class="column">
            </div>
        </div>

        <script>
            var timeout;

            async function getProgress() {
                let result;

                try {
                    const res = await fetch("/progress");
                    result = await res.json();
                } catch (e) {
                    console.error("Error: ", e);
                }

                for (const progress_bar in result) {
                    document.getElementById(progress_bar).value = result[progress_bar];
                    document.getElementById(progress_bar).innerHTML = result[progress_bar] + "&percnt;";
                }

                if (result['clean_playlist'] == 100.0) {
                    clearTimeout(timeout);

                    try {
                        const res = await fetch("/playlist_ids");
                        result = await res.json();
                    } catch (e) {
                        console.error("Error: ", e);
                    }

                    document.getElementById('clean_playlist_iframe').innerHTML = '<iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/' + result['clean_playlist_id'] + '" width="97%" height="512" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>'
                    return false;
                }

                timeout = setTimeout(getProgress, 5);
            }

            getProgress();
        </script>
    {% else %}
        <form method="post">
            <label for="playlist_url">Spotify Playlist URL</label>
            <input name="playlist_url" id="playlist_url" required>
            <label for="clean_playlist_name">Clean Playlist Name</label> 
            <input name="clean_playlist_name" id="clean_playlist_name">
            <input type="submit" value="Go">
        </form>
    {% endif %}
{% endblock %}
